body
{
    background-color: #071952;
}

#inputs {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 400px;
 }

 label {
    color: white;
 }